@import "tailwindcss";

@theme {
	--color-accent: oklch(0.757821 0.177031 60.398113);

	--color-bg: oklch(0.1579 0 0);

	--color-text: oklch(1 0 0);
	--color-text-muted: oklch(0.65 0 0);
}

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

body {
	@apply bg-bg text-text;
}

::view-transition-group(fullscreen-image) {
	animation-duration: 300ms;
}

@media (prefers-reduced-motion: reduce) {
	::view-transition-group(*) {
		animation: none;
	}
}

@utility focus-ring {
	border-radius: var(--radius-md);

	&:focus-visible {
		outline: 3px solid var(--color-accent);
		outline-offset: 5px;
	}
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	pointer-events: none;
	opacity: 0.5;
	background:
		radial-gradient(circle 20rem at 0% -20%, var(--color-accent), transparent 70%),
		radial-gradient(circle 10rem at 120% 40%, var(--color-accent), transparent 70%),
		radial-gradient(circle 30rem at 10% 120%, var(--color-accent), transparent 70%);
}

@media (width >= 768px) {
	body::before {
		content: "";
		position: fixed;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		opacity: 0.5;
		background:
			radial-gradient(circle 20rem at 0% -10%, var(--color-accent), transparent 70%),
			radial-gradient(circle 30rem at 90% 40%, var(--color-accent), transparent 70%),
			radial-gradient(circle 35rem at 10% 110%, var(--color-accent), transparent 70%);
	}
}

